/*start of slide show*/
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'Jomhuria', cursive;
    font-size: 750%;
    padding: 0 30px;
    line-height: 100%;
    color: #FFF;
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/choc.jpg) 
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/coffee.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/tea.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/truf.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/chdes.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/cup.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateY(-20%);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateY(-20%);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateY(-20%);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateY(-20%);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateY(-20%);
	}
	25% {
	    opacity: 0;
	    -transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(-300%);
	}
	8% {
	    opacity: 1;
	    -webkit-transform: translateY(0%);
	}
	17% {
	    opacity: 1;
	    -webkit-transform: translateY(0%);
	}
	19% {
	    opacity: 0;
	    -webkit-transform: translateY(100%);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -moz-transform: translateY(-300%);
	}
	8% {
	    opacity: 1;
	    -moz-transform: translateY(0%);
	}
	17% {
	    opacity: 1;
	    -moz-transform: translateY(0%);
	}
	19% {
	    opacity: 0;
	    -moz-transform: translateY(100%);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -o-transform: translateY(-300%);
	}
	8% {
	    opacity: 1;
	    -o-transform: translateY(0%);
	}
	17% {
	    opacity: 1;
	    -o-transform: translateY(0%);
	}
	19% {
	    opacity: 0;
	    -o-transform: translateY(100%);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -ms-transform: translateY(-300%);
	}
	8% {
	    opacity: 1;
	    -ms-transform: translateY(0%);
	}
	17% {
	    opacity: 1;
	    -ms-transform: translateY(0%);
	}
	19% {
	    opacity: 0;
	    -ms-transform: translateY(100%);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateY(-300%);
	}
	8% {
	    opacity: 1;
	    transform: translateY(0%);
	}
	17% {
	    opacity: 1;
	    transform: translateY(0%);
	}
	19% {
	    opacity: 0;
	    transform: translateY(100%);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
/* If animation is not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	.cb-slideshow li div h3 { font-size: 50px }
}
/*end of slide show*/

.navbar-brand, .nav, .dropdown-menu {background-color: #5C0D0D;
	color: #FFF;
	font-family: 'Jomhuria', cursive;
	font-size: 200%;
	
}
	
	

.jumbotron {
    color: #FFF;
    font-family: 'Jomhuria', cursive;
    text-align: center;
    font-size: 200%;
	
}
.ph {background-image: url(../images/choc.jpg);
	
    
}
.pht {background-image: url(../images/tea.jpg);
    
}
.phf {background-image: url(../images/coffee.jpg);
    
}

.dwn {margin-top: 5%;
    
}
h3, .type {color: #FFF;
	text-align: center;
	
}
.teat {color: #0F6B11;
	
}
.typeTea {margin-top: 10%;
	
}
.modal-header, .modal-footer {text-align: center;
	background-color: #5C0D0D;
	color: #FFF;
}
#hello {text-align: center;
    font-family: 'Passion One', cursive;
    color: #FFF;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold; 
	
}
.title {text-align: center;
		margin-top: 10%;
		font-family: 'Farsan', cursive;
		font-size: 250%;
		font-weight: bold;
		color: #FFF;
}
.dn {margin-top: 3%;
	
}
.nrec {text-align: center;
	color: #FFF;
	background-color: #5C0D0D;
	
}
.ctr {text-align: center;}

.random {text-align: center;
    font-size: 175%;
    font-weight: bold;
    margin-top: 10%;
    background-color: #5C0D0D;
    color: #FFF;
}
#rand {text-align: center;
    font-weight: bold;
    font-size: 120%;
    
}

.cbk {background-image: url(../images/chocbar.png);

}
    
.tbk {background-image: url(../images/teabk.jpg);
    
}
.fbk {background-image: url(../images/cbk.jpg);
   
    
}
.prec {background-image: url(../images/steam.jpg);
	
}
.fbk {background-image: url(../images/maze.jpg);
	
}
.bk {background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	
}
.nyt {color:#FFF;
	text-align: center;
	font-size: 125%;
}
.funFacts {background-color: #5C0D0D;
	margin-top: 3%;
	padding: 5%;

}

footer {color: #FFF;
	text-align: center;
	font-size: 150%;
	margin-top: 5%;
}
    
.comments {font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.form-group {background-color: #5C0D0D;
    color:  #FFF;
    
}



/*Fun page*/
/* This tile effect is from the Simple Tile Hover Effect by Chris Deacy on CodePen, many thanks to him!*/ 


.tiles {
    padding-top: 520px;
    padding-left: 40px;
    width: 1250px;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tiles .tile {
    display: inline-block;
    margin: 10px;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.tiles .tile:before {
    content: '';
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    -webkit-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.tiles .tile img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.tiles .tile .details {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    padding: 20px;
    color: #F2EB8D;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.tiles .tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    -webkit-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.tiles .tile .details .atitle {
    line-height: 1;
    font-weight: 600;
    font-size: 25px;
}

.tiles .tile .details .info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 22px;
}

.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
    opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
    top: 50%;
}

.tiles .tile:focus span,
.tiles .tile:hover span {
    top: 0;
}

.tiles .tile:focus .atitle,
.tiles .tile:hover .atitle {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}


#gp {
    height: 500px;
    width: 280px;
    margin-top: 60px;
    float: left;
    background-image: url(../images/gradprof.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#tc {
    height: 500px;
    width: 280px;
    margin-top: 60px;
    float: left;
    background-image: url(../images/tosscap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#cel {
    height: 500px;
    width: 280px;
    margin-top: 60px;
    float: left;
    background-image: url(../images/cel.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#fu {
    background-image: url(../images/cgrad.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 280px;
    float: left;
    margin-top: 60px;
    display: inline-block;
}
.close {height: 230px;
    width: auto;
    font-size: 40px;
    color: #F26405;
    text-align: center;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    margin-top: 750px;
    transform: rotateZ(-6deg)
}

    
canvas {margin-left: 20%;
	margin-top: 20%;
    border: 1px solid #000;
    background-color: #535C5E;
}
.titleg {text-align: center;
	color: #5C0D0D;
	font-size: 100%;
	
}
	